<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <!--
    AbleStack CloudInit Setup Bootstrapper
    - Includes Cloudbase-Init MSI (place under bundle/Packages/Cloudbase-Init-x64.msi)
    - Includes AbleStack CloudInit Automator MSI (built output from windows/msi/out/*.msi)
  -->
  <Bundle Name="AbleStack CloudInit Setup" Version="1.0.0.0" Manufacturer="ABLECLOUD" UpgradeCode="A0E8F4A7-8F2F-4C3B-9C9E-1B2C3D4E5F60">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="" SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <!-- 1) Cloudbase-Init MSI (SILENT) -->
      <MsiPackage Id="PkgCloudbaseInit" SourceFile="Packages\CloudbaseInitSetup_x64.msi"
                  Permanent="yes" Vital="yes"
                  DisplayInternalUI="no"
                  InstallCondition="1"
                  InstallArguments="ADDLOCAL=ALL /qn /norestart"
                  RepairArguments="/qn /norestart"
                  UninstallArguments="/qn /norestart" />

      <!-- 2) AbleStack Automator MSI (built first: windows\msi\out\AbleStack-CloudInit-Automator.msi) -->
      <MsiPackage Id="PkgAbleStackAutomator" SourceFile="..\out\AbleStack-CloudInit-Automator.msi"
                  Vital="yes" DisplayInternalUI="no"
                  InstallArguments="/qn /norestart"
                  RepairArguments="/qn /norestart"
                  UninstallArguments="/qn /norestart" />
    </Chain>
  </Bundle>